.artist-card {
    border: 1px solid;
    border-radius: 8px;
    padding: 50px;
    margin: 16px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

.artist-image {
    max-height: fit-content;
    max-width: 100%;
    border-radius: 4px;
}

.artist-description {
    padding: 20px;
    background-color: #3db5c24e;
    max-width: fit-content;

}


