.artist-card {
    border: 1px solid;
    border-radius: 8px;
    padding: 50px;
    margin: 16px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
}

.artist-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}


