
.artist-card {
    border: 4px solid rgb(29,5,96); 
    box-shadow: rgb(251, 253, 253) -1px 1px 5px;
    border-radius: 8px;
    padding: 50px;
    margin: 16px;
    text-align: center;
    background-color: white;
}

.artist-image {
    max-height: fit-content;
    max-width: 100%;
    border-radius: 4px;
}

.artist-description {
    padding: 20px;
    background-color: #3db5c29a;
    max-width: fit-content;

}


