.genre-card {
    border: 1px solid;
    border-radius: 8px;
    padding: 50px;
    margin: 16px;
    text-align: center; 
    background-color: white;
}

.genre-image {
    max-height: fit-content;
    max-width: 100%;
    border-radius: 4px;
}

.genre-description {
    padding: 80px;
    background-color:rgba(254, 255, 180, 0.786);
    max-width: fit-content;

}


