h2#header {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    text-transform: uppercase;
    color: rgb(29,5,96);
}
p {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 16px;
    color: rgb(29,5,96);
}
form {
    border: 5px solid rgb(29,5,96);
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: column;
    background: #5ca8ffa9; 
    align-items: center;
}

button {
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    text-transform: uppercase;
    border: none; 
    border-radius: 5%;
    height: 40px;
    width: 120px;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(29,5,96);
}