#main-header h1{
    margin-top: 0;
    font-size: 100px;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 rgb(5, 12, 55), 2px -2px 0 rgb(5, 12, 55), -2px 2px 0 rgb(5, 12, 55), 2px 2px 0 rgb(5, 12, 55);
}

