body{
    font-family:'Courier New', Courier, monospace;
    background:linear-gradient(to right,rgb(0, 140, 255),rgb(129, 224, 129), rgb(244, 244, 198) ) ;
}

header h1{
    margin-top: 0px;
}
nav {
}



