#main-nav {
    border: 1px solid rgb(5, 12, 55);
    padding: 10px;
    text-align: center;
    border-radius: 8%;
    background: white;
}

button#toggle-nav{
    color: rgb(5, 12, 55);
    background-color: transparent;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
}
.hidden {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
    list-style-type: none;

}

li {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(5, 12, 55);

}
li a { 
    padding: 10px;
    display: block;
    text-decoration: none;
}

li a:hover {
    color: white; 
    background-color: rgb(5, 12, 55);
}



/**** Larger Screen Sizes ****/ 

@media (min-width: 800px) {
    #main-nav ul {
        display: flex;
        justify-content: space-around;
    }

    button#toggle-nav {
        display: none;
    }
    
    #main-nav li {
        border: none;
    }
    .hidden{
        display: none;
    }
}


/* Scrapped 
*  background: linear-gradient(to right, #4a90e2, #8e44ad);
*/