#main-nav {
    text-align: center;
    border-bottom: 8px solid rgb(29, 5, 96);
}
button#toggle-nav{
    color: rgb(5, 12, 55);
    background-color: transparent;
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
}
.hidden {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    background: #5ca8ffa9;
    list-style-type: none;

}

li {
    padding: 14px;
    border-bottom: 1px solid rgb(5, 12, 55);

}


li a { 
    font-size: 20px;
    font-weight: bold;;
    color: white;
    display: block;
    text-decoration: none;
}

li a:hover {  
    text-decoration: underline;
    color: rgb(5, 12, 55); 
}



/**** Larger Screen Sizes ****/ 

@media (min-width: 800px) {
    #main-nav ul {
        display: flex;
        justify-content: space-around;
    }

    button#toggle-nav {
        display: none;
    }
    
    #main-nav li {
        border: none;
    }
    .hidden{
        display: none;
    }
}


/* Scrapped 
*  background: linear-gradient(to right, #4a90e2, #8e44ad);
*/