.profile-component { 
    font-weight: bold;
    background-color: rgb(255, 233, 189);
    border: 2px solid rgb(29,5,96);
    margin: 10px; 
    box-sizing: border-box;
    overflow: hidden;
}
.btn {   
    font-size: 20px;
    color: rgb(248, 253, 255); 
    text-shadow: 1px 1px 1px rgb(29,5,96);
    border-radius: 10px;
    border: 2px solid rgb(29,5,96);
    background-color:rgb(138, 212, 255);
    padding-top: 5px;
}
.profile-info { 
    text-align: center;
}
.profile-banner {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border: 1px solid rgb(29,5,96);

}
img.profile-avatar { 
    
    border: 2px solid rgb(29,5,96);
    margin-left: auto; 
    margin-right: auto;
    border-radius: 80%;
}
h1.profile-username { 
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: rgb(241, 245, 187); 
    border-radius: 10%;
    font-size: 20px;
    margin: 30px;
    padding: 20px;
}
p.profile-bio { 
    width: 50%;
    font-size: 16px;
    margin: 14px;
}
 p.profile-location, p.profile-favorite-artist {
    font-size: 16px;
    margin: 14px;
} 
p.profile-location {
    
}
