.profile-component {
    background-color: white;
    border: 2px solid rgb(29,5,96);
    margin: 10px;
}
.btn {   
    font-size: 20px;
    color: rgb(248, 253, 255); 
    text-shadow: 1px 1px 1px rgb(29,5,96);
    border-radius: 10px;
    border: 2px solid rgb(29,5,96);
    background-color:rgb(138, 212, 255);
    position: absolute;
    top: 278px; 
    left: 50px;
    padding-top: 5px;
}
.profile-info {
    margin: 100px;
    padding: 20px; 
    background-color: rgb(248, 247, 193);
}
img.profile-avatar {
    background-color: white;
    padding: 10px;
    border: 2px solid rgb(29,5,96);
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10px;
}
h1.profile-username { 
    border: 1px solid rgb(29,5,96);
    background-color: white;
    font-size: 20px;
    margin: 30px;
    padding: 20px;
}
p.profile-bio { 
    border: 1px solid rgb(29,5,96);
    padding: 50px;
    width: 50%;
    background-color:rgb(236, 247, 255);
    font-size: 16px;
    text-decoration: underline;
    margin: 14px;
}
 p.profile-location, p.profile-favorite-artist {
    font-size: 16px;
    margin: 14px;
} 
p.profile-location {
    background-color: rgb(240, 255, 239);
}
p.profile-favorite-artist {
    background-color:rgb(232, 255, 247);
}