.profile-component {
    background-color: white;
    border: 2px solid black;
    margin: 10px;
}

.profile-info {
    margin: 100px;
    background-color: rgb(226, 248, 193);
}
img.profile-avatar {
    background-color: white;
    padding: 10px;
    border: 8px solid black;
    margin-left: auto; 
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
h1.profile-username {
    background-color: white;
    font-size: 20px;
    margin: 10px;
}
p.profile-bio {
    font-size: 16px;
    text-decoration: underline;
    margin: 14px;
}
 p.profile-location, p.profile-favorite-artist {
    font-size: 16px;
    margin: 14px;
}