div#structure {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}


/* form components */
form {   
    margin-top: 90px;
   text-align: center;
} 

form label#up { 
    font-size: 14px;
    font-weight: bold;
}

form label#ub { 
    font-size: 14px;
    font-weight: bold;
}

form label#location { 
    font-size: 14px;
    font-weight: bold;
} 

form label#bio{  
    font-size: 14px;
    font-weight: bold; 
}  
 
input {
    font-size: 14px;
    padding: 8px; 
    border: 2px solid rgb(29,5,96);
} 

textarea {
    font-size: 14px;
    min-height: 14px;
    padding-bottom: 5px;
    border: 2px solid rgb(29,5,96);
} 
p.ptag { 
    background-color: white;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 180px;
    margin-right: 180px;
    padding: 10px;
    border: 2px solid rgb(29,5,96);
}
/**/
button { 
    background-color: white; 
    color: rgb(29,5,96); 
    border: 2px solid rgb(29,5,96);
} 
button#save-btn { 
    width: 200px;
    font-size: 14px;
    
}
button#av-btn { 
    font-size: 10px;
    height: 14px;
    padding-bottom: 20px;
    background-color: rgb(232, 238, 238);
} 

button#b-btn { 
    font-size: 10px; 
    font-size: 10px; 
    height: 14px; 
    padding-bottom: 20px;
    background-color: azure;
}

div.settings-modal { 
    padding: 10px;
    border: 5px solid rgb(29,5,96);
    background: rgb(186, 215, 228);
}
.close-settings { 
    position: relative;
    bottom: 455px;
    left: 839px;
    border: none;
    font-size: 14px;
    color: #ff0909;
    background: none;
} 



/* images modal */ 
div.img-modal-overlay {  
    display:flex;
    flex-wrap: wrap;
}
.img-modal img { 
    height: 205px;
    width: 205px;
}
.close-settings:hover {
    color: rgb(29,5,96); 
} 

button#save-btn:hover {
    color: white;
    background-color: rgb(29,5,96);
}