

img { 
    margin: 10px; 
    height: 250px; 
    width: 250px;
    left: 20px;
    position:relative;
}


a.prev {
    font-size: 20px;
    text-decoration: none;
    bottom: 100px;
    right: 320px;
    position: relative;
}

a.next {
    font-size: 20px;
    text-decoration: none; 
    bottom: 100px;
    left: 50px;
    position: relative;
}