img { 
    margin: 10px; 
    height: 250px; 
    width: 300px;
    left: 20px;
    position:relative;
}
.modal-caption {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    background-color: white;
    padding : 10px ;
    border : 1px solid black ; 
    text-align: center ;
    border-radius: 10%;
    color: royalblue;
  margin-top: 10px;
  font-size: 1.1rem;
  opacity: 0.85;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(28, 30, 31, 0.569); 
}
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 1200px;
    height: 50%;
} 
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.slideshow-image {
    cursor: pointer;
}

a.prev {
    font-size: 20px;
    text-decoration: none;
    bottom: 100px;
    right: 320px;
    position: relative;
}

a.next {
    font-size: 20px;
    text-decoration: none; 
    bottom: 100px;
    left: 50px;
    position: relative;
}