.chart-container {
    
}

.chart-card {  
    overflow: hidden;
    position: relative;
    border-radius: 10%;
    padding: 25px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(29,5,96);
    background-color: white;
    height: 500px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.chart-card img { 
    position: absolute;
    height: 190px;
    width: 200px;
    border-radius: 10%;
    top: 235px; 
    left: 600px;
}

.chart-card h2 { 
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    font-size: 80px;
    height: 100px;

}
.chart-card p {  
    margin-bottom: 25px;
    padding: 300px;
    color: black;
    width: 300px;
    font-size: 20px;
    position: absolute; 
    bottom:85px;
    left: -18px;

}
.chart-card a {  
    display: block;
    border: 2px solid rgb(29,5,96);
    position: absolute;   
    left: -10px;
    top: 150px;
    padding: 10px;
    color: rgb(29,5,96);
    background-color: rgb(98, 205, 245);
    text-decoration: none;
    height: 14px; 
    width: 100%;

}

.chart-card ol.song-list{   
    margin-left: 0px;
    padding-left: 0px;
    top: 180px;
    left: 100px;
    position:absolute;
    width:500px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.chart-card ol.song-list li {
    font-size: 10px;
}

