.chart-container {
    
}

.chart-card { 
    position: relative;
    border-radius: 10%;
    padding: 25px;
    margin: 20px;;
    border: 5px solid rgb(29,5,96);
    background-color: white;
    height: 500px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}
.chart-card img { 
    position: absolute;
    height: 130px;
    width: 140px;
    border-radius: 10%;
    border: 4px solid rgb(29,5,96); 
    top: 17px; 
    left: 580px;
}

.chart-card h2 {  
    position: absolute;
    font-size: 80px;
    height: 100px;
    bottom: 350px; 
    left: 104px;

}
.chart-card p {    
    padding: 10px;
    color: black;
    width: 350px;
    font-size: 23px;
    position: absolute; 
    top:80px;
    right: 344px;

}
.chart-card a {  
    position: absolute;   
    left: 65px;
    top: 430px;
    padding: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
    height: 18px;

}

.chart-card ol.song-list{   
    margin-left: 0px;
    padding-left: 0px;
    top: 180px;
    left: 200px;
    position:absolute;
    width:500px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.chart-card ol.song-list li {
    font-size: 10px;
}

