nav{
    position: relative;
}
main{
    background-color: rgb(200, 200, 68);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    min-height: 80vh;
}
ul{

    background: white;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}
li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 100%;
}
li a{
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(56, 152, 186);

}

@media (min-width: 768px) {
    
ul{
    list-style-type: none;
}
li{
    flex: 1 1 ;
}
}