body{
    background: lightgoldenrodyellow;
}

ul{
    padding-left: 0;
}
.header{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.footer{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
